.DS_Store
build/
*.swp
*~
tags
/Debug/
.autotools
.cproject
.project
.settings
.idea/*
src/*.pyc
3rdParty/isl/*
3rdParty/llvm/*
3rdParty/llvm
configure_path.cmake
configure.cmake
3rdParty/isl/configure
3rdParty/*
__pycache__
.ipynb_checkpoints
cmake-build-debug/
cmake-build-autoscheduler/
