[submodule "Halide"]
	path = 3rdParty/Halide
	url = https://github.com/jrayzero/Halide.git
	branch = tiramisu_64_bit
	ignore = all
[submodule "3rdParty/llvm"]
	path = 3rdParty/llvm
	url = https://github.com/llvm-mirror/llvm.git
	branch = release_50
	ignore = all
[submodule "3rdParty/clang"]
	path = 3rdParty/clang
	url = https://github.com/llvm-mirror/clang.git
	branch = release_50
	ignore = all
[submodule "3rdParty/isl"]
	path = 3rdParty/isl
	url = https://repo.or.cz/isl.git
