export WORKER_NUM=$((SLURM_JOB_NUM_NODES - 1))
export WORKER_PER_NODE=10
export CONDA_DIR=/home/user/miniconda3/
export CONDA_ENV=/home/usert/tiramisu-build-env
export RAY_OBJECT_STORE_ALLOW_SLOW_STORAGE=1
export RAY_ALLOW_SLOW_STORAGE=1
export PORT=6379
export REDIS_PWD="123456789"